<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/index.css">
    <title>index</title>
</head>
<div class="big_container">
    
    <div class="site-wrapper">
    <div class="pt-table desktop-768">
        <div class="pt-tablecell page-home relative" >
                        <div class="overlay"></div>
    
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                    <div class="page-title  home text-center">
                                    
    
                                    <div class="hexagon-menu clear">
                                        <div class="hexagon-item">
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <a href="dashbord" class="hex-content">
                                                <span class="hex-content-inner">
                                                    <span class="icon">
                                                        <i class="fa-solid fa-chart-line"></i> 
                                                    </span>
                                                    <span class="title">Dashbord</span>
                                                </span>
                                                <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                            </a>
                                        </div>
                                        <div class="hexagon-item">
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <a href="Sourcing" class="hex-content">
                                                <span class="hex-content-inner">
                                                    <span class="icon">
                                                        <i class="fa-solid fa-magnifying-glass"></i>
                                                    </span>
                                                    <span class="title">Sourcing</span>
                                                </span>
                                                <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                            </a>
                                        </div>
                                        <div class="hexagon-item">
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <a href="leads" class="hex-content">
                                                <span class="hex-content-inner">
                                                    <span class="icon">
                                                        <i class="fa-solid fa-people-group"></i>
                                                    </span>
                                                    <span class="title">Leads</span>
                                                </span>
                                                <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                            </a>    
                                        </div>
                                        <div class="hexagon-item">
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <a href="campagnes" class="hex-content">
                                                <span class="hex-content-inner">
                                                    <span class="icon">
                                                        <i class="fa-solid fa-comments"></i>
                                                    </span>
                                                    <span class="title">campagne</span>
                                                </span>
                                                <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                            </a>
                                        </div>
                                        <div class="hexagon-item">
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <a href="deconnexion" class="hex-content">
                                                <span class="hex-content-inner">
                                                    <span class="icon">
                                                        <i class="fa-solid fa-power-off"></i>
                                                    </span>
                                                    <span class="title">Deconnexion</span>
                                                </span>
                                                <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                            </a>
                                        </div>
                                        <div class="hexagon-item" disabled>
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <a href="https://linkedin.com/" class="hex-content">
                                                <span class="hex-content-inner">
                                                    <span class="icon">
                                                        <i class="fa-brands fa-linkedin"></i>
                                                    </span>
                                                    <span class="title">linkedin</span>
                                                </span>
                                                <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                            </a>
                                        </div>
                                        <div class="hexagon-item">
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <a  class="hex-content">
                                                <span class="hex-content-inner">
                                                    <span class="icon">
                                                        <i class="fa-solid fa-user"></i>
                                                    </span>
                                                    <span class="title">compte</span>
                                                </span>
                                                <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <script src="https://kit.fontawesome.com/55721499d6.js" crossorigin="anonymous"></script>

    </div>
</html>