<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
              />
        
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./style/connexion.css">
        <title>Inscription</title>
    </head>
    <body>

        <section class="background-radial-gradient overflow-hidden min-vh-100 ">
            <div class="container px-4 py-5 px-md-5 text-center text-lg-start
                my-5">
                <div class="row gx-lg-5 align-items-center mb-5">
                    <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                        <h1 class="my-5 display-5 fw-bold ls-tight"
                            style="color: hsl(218, 81%, 95%)">
                            <span style="color: hsl(141deg 63% 22%)">ACCESS
                            </span> <span
                                style="color: hsl(84deg 49% 53%)"> LEAD</span><br>l'énergie
                            qui alimente vos leads et les rend électriques<br />
                        </h1>
                        <p class="mb-4 opacity-70" style="color: hsl(218, 81%,
                            85%)">
                            Qu'attendez vous pour vous lancer ? 
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                        <div id="radius-shape-1" class="position-absolute
                            rounded-circle shadow-5-strong"></div>
                        <div id="radius-shape-2" class="position-absolute
                            shadow-5-strong"></div>

                        <div class="card bg-glass">
                            <div class="card-body px-4 py-5 px-md-5">
                                
                                    <!-- 2 column grid layout with text inputs for the first and last names -->
                                    <!-- Pills navs -->
                                    <div class="err">
                                    
                                    </div>

                                    <ul class="nav nav-pills nav-justified mb-3"
                                        id="ex1" role="tablist">
                                        <li class="nav-item"
                                            role="presentation">
                                            <a class="nav-link"
                                                id="tab-register"
                                                data-mdb-toggle="pill"
                                                href="connexion"
                                                role="tab"
                                                aria-controls="pills-register"
                                                aria-selected="false">Connexion</a>
                                            
                                        </li>
                                        <li class="nav-item"
                                            role="presentation">
                                            
                                                <a class="nav-link active"
                                                id="tab-login"
                                                data-mdb-toggle="pill"
                                                href="inscription" role="tab"
                                                
                                                aria-selected="true">Inscription</a>
                                        </li>
                                    </ul>
                                    <!-- Pills navs -->

                                    <div class="tab-content">
                                        <div class="tab-pane fade show active"
                                            id="pills-login" role="tabpanel"
                                            aria-labelledby="tab-login">
                                            
                                            <form method="POST"  enctype="multipart/form-data">
                                                <div class="text-center mb-3">
                                                    <p>Inscrivez-vous avec</p>
                                                    <button type="button" class="btn
                                                        btn-link btn-floating mx-1">
                                                        <i class="fab
                                                            fa-facebook-f"></i>
                                                    </button>
    
                                                    <button type="button" class="btn
                                                        btn-link btn-floating mx-1">
                                                        <i class="fab fa-google"></i>
                                                    </button>
    
                                                    <button type="button" class="btn
                                                        btn-link btn-floating mx-1">
                                                        <i class="fab fa-twitter"></i>
                                                    </button>
    
                                                    <button type="button" class="btn
                                                        btn-link btn-floating mx-1">
                                                        <i class="fab fa-github"></i>
                                                    </button>
                                                </div>
    
                                                <p class="text-center">OU</p>

                                                            <!-- file input -->
                                                <!-- Name input -->

                                                
                                                <input class= "inputish" type="file" name="photo" id="image" accept=".png, .jpeg">
                                                <label class="labelish" for="image">Choisir une image</label>
                                                    
                                                        

                                                <div class="form-outline mb-4">
                                                    <input type="text"
                                                        id="registerName"
                                                        class="form-control"
                                                        placeholder="Nom"
                                                        name="nom"
                                                        >
                                                    <label class="form-label"
                                                        for="registerName"
                                                        style="margin-left: 0px;"></label>
                                                    <div class="form-notch"><div
                                                            class="form-notch-leading"
                                                            style="width: 9px;"></div><div
                                                            class="form-notch-middle"
                                                            style="width: 42.4px;"></div><div
                                                            class="form-notch-trailing"></div></div></div>
                                                <!-- Username input -->
                                                <div class="form-outline mb-4">
                                                    <input type="text"
                                                        id="registerUsername"
                                                        class="form-control"
                                                        style="
                                                        background-repeat:
                                                        no-repeat;
                                                        background-attachment:
                                                        scroll;
                                                        background-size: 16px 18px;
                                                        background-position: 98%
                                                        50%;" placeholder="Nom d'utilisateur"
                                                        name="username"
                                                        >
                                                    <label class="form-label"
                                                        for="registerUsername"
                                                        style="margin-left: 0px;"></label>
                                                    <div class="form-notch"><div
                                                            class="form-notch-leading"
                                                            style="width: 9px;"></div><div
                                                            class="form-notch-middle"
                                                            style="width: 66.4px;"></div><div
                                                            class="form-notch-trailing"></div></div></div>
                                                            
                                                
                                                <!-- Email input -->
                                                <div class="form-outline mb-4">
                                                    <input type="email"
                                                        id="registerEmail"
                                                        class="form-control"
                                                        placeholder="Email"
                                                        name="email"
                                                        >
                                                    <label class="form-label"
                                                        for="registerEmail"
                                                        style="margin-left: 0px;"></label>
                                                    <div class="form-notch"><div
                                                            class="form-notch-leading"
                                                            style="width: 9px;"></div><div
                                                            class="form-notch-middle"
                                                            style="width: 40px;"></div><div
                                                            class="form-notch-trailing"></div></div></div>
                                                <!-- Password input -->
                                                <div class="form-outline mb-4">
                                                    <input type="password"
                                                        id="registerPassword"
                                                        class="form-control"
                                                        style="
                                                        background-repeat:
                                                        no-repeat;
                                                        background-attachment:
                                                        scroll;
                                                        background-size: 16px 18px;
                                                        background-position: 98%
                                                        50%;" placeholder="Mot de passe"
                                                        name="password"
                                                        >
                                                    <label class="form-label"
                                                        for="registerPassword"
                                                        style="margin-left: 0px;"></label>
                                                    <div class="form-notch"><div
                                                            class="form-notch-leading"
                                                            style="width: 9px;"></div><div
                                                            class="form-notch-middle"
                                                            style="width: 64.8px;"></div><div
                                                            class="form-notch-trailing"></div></div></div>
                                                <!-- Repeat Password input -->
                                                <div class="form-outline mb-4">
                                                    <input type="password"
                                                        id="registerRepeatPassword"
                                                        class="form-control"
                                                        style="
                                                        background-repeat:
                                                        no-repeat;
                                                        background-attachment:
                                                        scroll;
                                                        background-size: 16px 18px;
                                                        background-position: 98%
                                                        50%;" placeholder="Repeter Mot de passe" 
                                                        name="repetedPassword"
                                                        >
                                                    <label class="form-label"
                                                        for="registerRepeatPassword"
                                                        style="margin-left: 0px;">
                                                    </label>
                                                    <div class="form-notch"><div
                                                            class="form-notch-leading"
                                                            style="width: 9px;"></div><div
                                                            class="form-notch-middle"
                                                            style="width: 106.4px;"></div><div
                                                            class="form-notch-trailing"></div></div></div>
                                                <!-- Submit button -->
                                                <button type="submit" class="btn
                                                    btn-primary btn-block mb-3" id="boutton_submit">S'inscrire</button>
                                                        <% if (message) { %>
                                                            <p class="error"><%= message %></p>
                                                        <% } %>
    
                                            </form>


                                        </div>
                                    </div>






                                    

                                    
                                    
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Section: Design Block -->
        <script src="https://kit.fontawesome.com/55721499d6.js"
            crossorigin="anonymous"></script>
       
        <script src="./js/inscription.js"></script>
   
    </body>
</html>
