<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./style/connexion.css">

        <title>Access_lead</title>
    </head>
    <body>



        <section class="background-radial-gradient overflow-hidden vh-150 ">
            <div class="container px-4 py-5 px-md-5 text-center text-lg-start
                my-5">
                <div class="row gx-lg-5 align-items-center mb-5">
                    <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                        <h1 class="my-5 display-5 fw-bold ls-tight"
                            style="color: hsl(218, 81%, 95%)">
                            
                            
                             <span style="color: hsl(141deg 63% 22%)">ACCESS
                            </span> <span
                                style="color: hsl(84deg 49% 53%)"> LEAD <br> </span> <span> à besoin d'être rassasié</span>
                            <span> Regardez la video pour savoir comment l'alimenter en cookie  </span>
                        </h1>
                        <div class="video-container">
                            <video width="100%" height="100%" controls>
                              <source src="./assets/Video_li_at.mov" type="video/ogg">
                            </video>
                          </div>
                          
                        
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                        <div id="radius-shape-1" class="position-absolute
                            rounded-circle shadow-5-strong"></div>
                        <div id="radius-shape-2" class="position-absolute
                            shadow-5-strong"></div>
                            

                        <div class="card bg-glass">
                            <div class="card-body px-4 py-5 px-md-5">
                                
                                    <!-- 2 column grid layout with text inputs for the first and last names -->
                                    <!-- Pills navs -->
                                    <ul class="nav nav-pills nav-justified mb-3"
                                        id="ex1" role="tablist">
                                        <li class="nav-item"
                                            role="presentation">
                                            <a class="nav-link active"
                                                id="tab-login"
                                                data-mdb-toggle="pill"
                                                href="" role="tab"
                                                aria-controls="pills-login"
                                                aria-selected="true">LI_AT</a>
                                        </li>
                                        
                                    </ul>
                                    <!-- Pills navs -->

                                    <!-- Pills content -->
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active"
                                            id="pills-login" role="tabpanel"
                                            aria-labelledby="tab-login">
                                            <form method="POST">
                                                

                                                
                                                <!-- Email input -->
                                                <div class="form-outline mb-4">
                                                    <input type="text"
                                                        id="modified_at"
                                                        class="form-control"
                                                        placeholder="LI_AT"
                                                        name="modified_at" />
                                                    <label class="form-label"
                                                        for="modified_at">
                                                    </label>
                                                </div>

                                                <!-- Submit button -->
                                                <button type="submit" class="btn
                                                    btn-primary btn-block mb-4" id="btn_modify">Modifier
                                                </button>

                                        
                                                
                                                
                                            </form>
                                        </div>
                                    </div>
                                    <!-- Pills content -->
                                    
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Section: Design Block -->
        <script src="https://kit.fontawesome.com/55721499d6.js"
            crossorigin="anonymous"></script>
        <script src="./js/modify.js"></script>

    </body>
</html>
