<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
              />
        
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./style/connexion.css">
        <title>Connexion</title>
    </head>
    <body>



        <section class="background-radial-gradient overflow-hidden vh-100 ">
            <div class="container px-4 py-5 px-md-5 text-center text-lg-start
                my-5">
                <div class="row gx-lg-5 align-items-center justify-content-center mb-5">
                    <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                        <h1 class="my-5 display-5 fw-bold ls-tight"
                            style="color: hsl(218, 81%, 95%)">
                            <span style="color: hsl(141deg 63% 22%)">ACCESS
                            </span> <span
                                style="color: hsl(84deg 49% 53%)"> LEAD</span>
                        </h1>

                        <img src="./assets/404-removebg.png" alt="404" style="height: 200px;" >
                        
                    </div>

                    
                </div>
            </div>

        </section>
        <!-- Section: Design Block -->
        <script src="https://kit.fontawesome.com/55721499d6.js"
            crossorigin="anonymous"></script>
        <script src="./js/connexion.js"></script>
   
    </body>
</html>
